.wrapper {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.container {
  height: 80%;
  flex: 0.9;
  padding: 30px 15px;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75) !important;
  overflow: scroll;
}

.forward {
  display: flex; /* Arrange input and button side-by-side */
  /* Vertically align content */
  margin: 10px; /* Add some spacing */
  flex: 1;

}
.forwardInput input {
  flex: 1; 
  margin: 5px;
}

.forwardButton button {
  flex: 1;
  margin: 5px;
}

.container > h3 {
  margin-left: 50px;
  font-size: 28px;
}

.container > div {
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 10px;
}

.container > p {
  margin-left: 50px;
}

.replyHeader {
  font-weight: 400;
  margin: 10px;
}
.inpGroup {
  margin: 10px;
}

.inputRe {
  margin: 10px;
  border-radius: 5px;
  width: 300px;
  border-top-color: aliceblue;
  border-width: 3px;
  border-color: aliceblue;

}